@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*Reset*/

* {
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;/*Retira as bolinhas dos elementos*/
}
/*Criação de Variaveis no root do CSS, faz com que na hora q coloca a cor "--blue" ja vai direto pra cor*/

body {
    font: 400 22px "Roboto", sans-serif; /*estamos dando peso da fonte para reduzir a barra branca depois do rodapé, peso 400 tamanho 22px */
}

/*Reset em todos os elementos*/

:root{
    --blue: #00008B;
    --Gray: #555555;
    --Skyblue: #00BFFF;
    --Sliver: #c0c0c0;
    --red: #ff0000;
    --white: #ffffff;
    --DarkGray: #959595; 
}

/*Header-Cabeçalho*/

.main-header {
    background-image:url(background-image.png);
    background-position:50% 39%;
    display: flex; /*Coloca os elementos centralizados*/
    flex-direction: column; /* alinha os elementos em baixo do outro*/
    align-items: center; /*centraliza os elementos*/
}

.main-nav {
    width: 100%; /*Ocupa toda area possivel*/
    /*max-width: 600px; trava a largura maxima para definir o objeto*/
    /*padding: 0 16px; primeiro é cima e baixo, segundo é esquerda e direita*/ 
}

.header-list-container {
    display: flex; /*Coloca os elementos na mesma linha*/
    justify-content: space-between; /*Adciona espaçamento entre os itens*/
    align-items: center; /*garantir que fiquem alinhados na mesma linha*/
    padding: 16px 0; /*primeiro é cima e baixo, segundo é esquerda direita*/ 
}

.nav-item {
    text-transform: uppercase; /*deixar todas as letras em maiusculo*/
    color: #00008B;
}

hr{
    width: 100%; /*Ocupa toda a area disponivel*/
}

.nav-item a {
    text-decoration: none; /*remove o underline do ancora*/
    color: inherit; /*herda a cor do elemento pai (neste caso é nav-item)*/
}

.nav-item:hover {
    color: red; /*quando passar o mouse muda a cor*/
    transition: 1s;
}

.main-about {
    padding: 40px 0 64px; /*tres numeros significa o padding em cima ao lado e em baixo*/
}

.container {
    max-width: 600px; /*trava a largura maxima em que definimos para o projeto*/
    padding: 0 16px; /*primeiro cima/baixo, segunda esquerda/direita*/
    margin: 0 auto; /*nao aplica cima/baixo, auto distribui*/
}

.about-title {
    font-family: "Raleway", sans-serif; /*pega a fonte importada*/
    font-size: 32px; /*Tamanho da fonte*/
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image {
    float: left; /*alinha a imagem esquerda e o texto direita*/
    margin: 0 20px 10px 0; /*0 topo, 20 direta, 10 baixo e 0 esquerda*/
    width: 200px; /*largura*/
    height: auto; /*evita a distorção da imagem*/
}

.about-description {
    color: var(--Gray); /*utiliza variavel de cor criado no root*/
    text-align: justify; /*justifica o texto*/
}

/*footer*/

.main-footer {
    background-color: var(--Skyblue); /*aplica cor no fundo do rodapé*/
    padding: 15px 0; /*aplica espaçamento cima/baixo e nada esquerda/direita*/
}

.footer-container {
    display: flex; /*deixa tudo na mesma linha*/
    align-items: center; /*alinha todos os elementos*/
    justify-content: space-between; /*cola nome de um lado e lista de icones para o outro*/
}
.title-smaller {
    font-family: "Raleway", sans-serif; /*pega a fonte importada*/
    color: var(--blue); /*utiliza variavel de cor criado no root*/
    font-size: 26px; /*tamanho da fonte*/
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;
}

.footer-item + .footer-item {
    margin-left: 16px; /*aplica na mesma class seguindo em dianre, ate chegar*/
}

/*Contato*/

.contact-text {
    text-align: center; /*centraliza o texto*/
    margin-bottom: 30px; /*separa o paragrafo do formulario*/
    font-size: 28px; /*altera o taemanho da fonte*/
    color: var(--Gray);
}

.contact {
    background-color: var(--Skyblue);
    padding: 30px; /*espaçamento*/
    width: 600px; /*tamanho definido para o projeto*/
    margin-left: auto; /*empurra para a direita*/
    margin-right: auto; /*empurra para a esquerda*/
    margin-bottom: 20px;
}

.contact-label {
    display: block; /*coloca os elementos um em cima do outro*/
    margin-bottom: 20px; /*Espaçamento pra baixo*/
    color: var(--blue);
}

.contact-field {
    display: block; /*coloca os elementos um em cima do outro*/
    width: 100%; /*ocupa o maximo de espaço disponivel*/
    height: 30px; /*aumenta a altura do campo*/
    font-size: 16px; /*altera o tamanho do texto*/
    padding-left: 10px; /*empurra o elemento dentro do campo para esquerda*/
    border: none; /*tira a borda*/
}

.contact-field:focus { /*troca a cor do fundo da area do formulario ao clicar*/
    background-color: var(--Sliver); /*cor do fundo*/
    outline: none; /*remove a linha interna do campo de formulario*/
}

textarea.contact-field {
    height: 150px; /*altera a altura do campo*/
    padding: 10px;
    font-family: "Roboto" Calibri;
}

.button-form {
    background-color: var(--blue); /*Cor do fundo do botao*/
    color: var(--white); /*cor da fonte do botao*/
    border: 2px solid var(--blue); /*adiciona borda ao botao*/
    border-radius: 10px; /*arredonda a borda do botao*/
    padding: 2px 6px; /*aumenta o botao 2 pra cima 6 pra esquerda*/
    font-weight: bold; /*aumenta o peso da fonte deixa ela mais espeça*/
    cursor: pointer; /*deixa o botao clicavel*/
}

.button-form:hover {
    background-color: var(--white); /*cor fundo do botap*/
    color: var(--blue); /*cor da fonte*/
}

.contact-maps {
    width: 600px;
    margin-left: auto;
    margin-left: auto;
    padding-bottom: 20px;
}